{% extends 'base.html.twig' %}
{% block header %}
  {{ parent() }}
{% endblock %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block body %}
  <body>
    <header>
      <h2>Registro de Entrada a Instalaciones</h2>
    </header>
    <nav class="header-nav">
      <a href="">Inicio</a>
      <a href="">Registro de Entrada</a>
      <a href="">Registro de Salida</a>
      <a href="">Administración</a>
    </nav>
    <main>
      <div class="inicio-bienvenida">
        <h1>Bienvenido al sistema de registro de entrada a instalaciones del INE</h1>
        <h2>Por favor, utilice el menú para navegar por las diferentes secciones del sistema.</h2>
      </div>

      <div class="inicio-opciones">
        <h2>Seleccione una opción</h2>
        <div class="botones-registro">
          <button class="boton-registro-entrada">Registrar Entrada</button>
          <button class="boton-registro-salida">Registrar Salida</button>
        </div>
      </div>
    </main>

    <footer class="footer">
      <p>&copy; 2026 INSTITUTO NACIONAL ELECTORAL, CBT ALBERT EINSTEIN LA PAZ.</p>
      <p>Todos los derechos reservados.</p>
    </footer>
  </body>
{% endblock %}
