{% extends 'base.html.twig' %}

{% block main %}
  <main>
    <div class="inicio-bienvenida">
      <h1>Bienvenido al sistema de registro de entrada a las instalaciones del INE</h1>
      <h2>Por favor, utilice el siguiente menú para continuar.</h2>
    </div>

    <div class="inicio-opciones">
      <h2>Seleccione una opción</h2>
      <div class="botones-registro">
        <button class="boton-registro-entrada">Registrar Entrada</button>
        <button class="boton-registro-salida">Registrar Salida</button>
      </div>
    </div>
  </main>
{% endblock %}
