body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(249, 202, 225);
    min-height: 100vh;
    margin: 0;
    background-image: linear-gradient(to bottom left, #ffffff, #f342f3);
    min-height: 100vh;

    background-attachment: fixed;
    background-size: cover;

    font-family: sans-serif;
    color: #d63384;
}

header {
    width: 100%;
    background-color: #d63384;
    color: white;
    padding: 0;
    text-align: center;
}

main {
    width: 90%;
    flex: 1;
}

.inicio-bienvenida {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.inicio-opciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.header-nav {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    width: 100%;
}

.botones-registro {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}


footer {
    margin: 0;
    background-color: #d63384;
    color: white;
    padding: 0;
    text-align: center;
    width: 100%;
    font-size: 0.60rem;
    padding-top: 5px;
}


