body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(249, 202, 225);
    min-height: 100vh;
    margin: 0;
    background-image: linear-gradient(to bottom left, #ffffff, #ff67b3);
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
    color: #d63384;
}

header {
    width: 100%;
    background-color: #d63384;
    color: white;
    padding: 0;
    text-align: center;
}

main {
    width: 90%;
    flex: 1;
}

.inicio-bienvenida {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.inicio-opciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.header-nav {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    width: 100%;
    font-size: bold;

}

.header-nav a {
    color: #d63384;
    text-decoration: none;
    padding: 0 10px;
    font-weight: bold;
    
}

.botones-registro {
    width: 25rem;
    height: 12rem;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    /*  background-color: aquamarine; */
    padding: 0;
    margin: 0;

}

.boton-registro-entrada,
.boton-registro-salida {
    width: 40%;
    height: 90%;
    color: #d63384;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    margin: auto;
    border: 1px solid #d63384;
    border-radius: 15px;
    background-color: #fbddf7;
    cursor: pointer;
    font-weight: bold;
}

.boton-registro-entrada:hover,
.boton-registro-salida:hover {
    background-color: #d63384;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}




footer {
    margin: 0;
    padding: 0;
    background-color: #d63384;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 0.60rem;
    padding-top: 2px;
}
