<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
      <title>Registro de Entrada a instalaciones INE</title>
    {% endblock %}

    {% block styles %}
      {{ importmap('app') }}
    {% endblock %}
  </head>

  <body>
    {% block header %}
      <header>
        <h2><i class="bi bi-building-check"></i> Registro de Entrada a Instalaciones</h2>
      </header>
    {% endblock %}

    {% block nav %}
      <nav class="header-nav">
        <a href="{{ path('app_inicio') }}"><i class="bi bi-house-door"></i> Inicio</a>
        <a href=""><i class="bi bi-door-open"></i> Entrada</a>
        <a href=""><i class="bi bi-door-closed"></i> Salida</a>
        <a href="{{ path('app_admin') }}"><i class="bi bi-shield-lock"></i> Admin</a>
      </nav>
    {% endblock %}

    {% block body %}
      {# Contenido principal de cada página. #}
    {% endblock %}

    {% block footer %}
      <footer class="footer">
        <div>
          <i class="bi bi-info-circle"></i> &copy; 2026 Instituto Nacional Electoral, CBT Albert Einstein La Paz.
        </div>
        <div>Todos los derechos reservados.</div>
      </footer>
    {% endblock %}
  </body>
  {% block scripts %}

  {% endblock %}
</html>
