<form method="post" action="{{ path('app_user_delete', { id: user.id }) }}" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este usuario? Esta acción no se puede deshacer.');">
  <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}" />

  <button class="btn btn-outline-danger justify-content-center"><i class="bi bi-trash3 me-1"></i> Eliminar</button>
</form>
